.footer {
  width: 100%;
  background-color: var(--c-hue-green);
  color: var(--c-wild-sand);

  .footerCenter {
    margin: 0 auto;
    width: var(--max-width);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--spacing-400) 0;

    .details {
      display: flex;
      flex-direction: column;
      row-gap: var(--spacing-100);
    }
  }
}
