:root {
  /* Spacing */
  --spacing-10: 1px;
  --spacing-25: 2px;
  --spacing-50: 4px;
  --spacing-75: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;

  /* Global Page Spacing */
  --max-width: 1080px;
  --mobile-max-width: 500px;

  /* Colours */
  --c-white: #fff;
  --c-bone: #f7f6f6;
  --c-off-white: #f4efef;
  --c-hue-white: #e6e1e0;
  --c-wild-sand: #eadecd;
  --c-hue-green: #434939;
  --c-off-green: #666a5d;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Fonts */
.primary-header {
  font-size: 56px;
  font-weight: 500;
}
.secondary-header {
  font-size: 42px;
  font-weight: 600;
}
.tertiary-header {
  font-size: 24px;
  font-weight: 300;
}
.primary-paragraph {
  font-size: 14px;
  font-weight: 400;
}

html,
body {
  background-color: #f8fafc;
  padding: 0;
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #e2e8f0;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
